body {
    display: flex;
    background-color: rgb(0, 0, 0);
}

video {
    left: 800px;
    height: 500px;
    z-index: -100;
    position: absolute;
    border: rgb(255, 118, 180) 5px solid;
    bottom: 200px;
}

#playground {
    height: 97%;
    width: 700px;
    left: 5px;
    position: absolute;
    border: rgb(255, 118, 180) 5px dotted;
    z-index: -99;
}

.food {
    width: 100px;
    height: 100px;
    background: rgb(255, 118, 180);
    border-radius: 50px;
    position: absolute;
    top: 300px;
    left: 100px;
}

.water {
    width: 100px;
    height: 100px;
    background: rgb(118, 228, 255);
    border-radius: 50px;
    position: absolute;
    top: 600px;
    left: 300px;
}

.toy {
    width: 100px;
    height: 100px;
    background: rgb(145, 255, 123);
    border-radius: 50px;
    position: absolute;
    top: 100px;
    left: 500px;
}

.text {
    color: pink;
    position: absolute;
    left: 800px;
    top: 50px;
    font-size: 50px;
}



